In [ ]:
import requests as req
import pandas as pd 

res = req.get('https://jsonplaceholder.typicode.com/posts')
if res.status_code == 200:
    posts = res.json()
    df = pd.DataFrame(posts)
    print(df.head())
else:
    print(f"Failed to retrieve data: {res.status_code}")

   userId  id                                              title  \
0       1   1  sunt aut facere repellat provident occaecati e...
1       1   2                                       qui est esse
2       1   3  ea molestias quasi exercitationem repellat qui...
3       1   4                               eum et est occaecati
4       1   5                                 nesciunt quas odio

                                                body
0  quia et suscipit\nsuscipit recusandae consequu...
1  est rerum tempore vitae\nsequi sint nihil repr...
2  et iusto sed quo iure\nvoluptatem occaecati om...
3  ullam et saepe reiciendis voluptatem adipisci\...
4  repudiandae veniam quaerat sunt sed\nalias aut...

In [5]:
import requests as req
API_KEY = "ad5f1af70722ca9a2c184fe1288ec1b6"
city = 'London'
url = f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={API_KEY}&units=metric"
res = req.get(url)
data = res.json()
if 'main' in data and 'weather' in data:
	print(f"Temperature in {city}: {data['main']['temp']}°C")
	print(f"weather: {data['weather'][0]['description']}")
else:
	print(f"Error: {data.get('message', 'Unknown error')}")

Temperature in London: 14.28°C
weather: overcast clouds

In [6]:
import requests as req
from bs4 import BeautifulSoup

url = 'http://quotes.toscrape.com'
res = req.get(url)
soup = BeautifulSoup(res.content, 'html.parser')
quotes = soup.find_all('span', class_='text')
authors = soup.find_all('small', class_='author')
for quote, author in zip(quotes, authors):
    print(f"{quote.text} - {author.text}")

“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.” - Albert Einstein
“It is our choices, Harry, that show what we truly are, far more than our abilities.” - J.K. Rowling
“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.” - Albert Einstein
“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.” - Jane Austen
“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.” - Marilyn Monroe
“Try not to become a man of success. Rather become a man of value.” - Albert Einstein
“It is better to be hated for what you are than to be loved for what you are not.” - André Gide
“I have not failed. I've just found 10,000 ways that won't work.” - Thomas A. Edison
“A woman is like a tea bag; you never know how strong it is until it's in hot water.” - Eleanor Roosevelt
“A day without sunshine is like, you know, night.” - Steve Martin

In [7]:
import pandas as pd
quote_list = []

for quote, author in zip(quotes, authors):
    quote_list.append({'quote': quote.text, 'author': author.text})

df = pd.DataFrame(quote_list)
print(df.head())

                                               quote           author
0  “The world as we have created it is a process ...  Albert Einstein
1  “It is our choices, Harry, that show what we t...     J.K. Rowling
2  “There are only two ways to live your life. On...  Albert Einstein
3  “The person, be it gentleman or lady, who has ...      Jane Austen
4  “Imperfection is beauty, madness is genius and...   Marilyn Monroe

In [9]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('students.db')

data = {
    'student_id': [1, 2, 3, 4, 5],
    'name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'major': ['Math', 'Physics', 'Chemistry', 'Biology', 'Computer Science'],
    'gpa': [3.5, 3.7, 3.2, 3.8, 3.9]
}

df = pd.DataFrame(data)
df.to_sql('students', conn, if_exists='replace', index=False)
query = "SELECT * FROM students WHERE gpa > 3.7"
result = pd.read_sql_query(query, conn)
print(result)
conn.close()

   student_id   name             major  gpa
0           4  Diana           Biology  3.8
1           5    Eve  Computer Science  3.9