In [35]:
# Part 1 - Loading and Initial Exploration
# 1- Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from sklearn.model_selection import train_test_split
pd.set_option('display.max_columns', None)
sns.set_style("whitegrid")

print("-------------------------------------------------------------------------------------------------------------------------------------------")

# 2- Load the Dataset
# Load the CSV file
df = pd.read_csv('data.csv')

# Display the first 10 rows
print(df.head(10))

# Display the last 5 rows
print(df.tail(5))

print("-------------------------------------------------------------------------------------------------------------------------------------------")

# 3- Dataset Overview
# Check the shape of the dataset (number of rows and columns)
print(df.shape)

# Display all column names
print(df.columns.tolist())

# Check the data types of each column
print(df.dtypes)

#Use .info() to see a summary 
print(df.info())

# Generate descriptive statistics using .describe()
print(df.describe())
print(df.describe(include='object'))

# How many employees are in this dataset?
print(df.shape[0])

# How many columns do we have?
print(df.shape[1])

# How many numerical columns vs categorical columns?
print(df.select_dtypes(include=[np.number]).shape[1])
print(df.select_dtypes(include=['object']).shape[1])

# Are there any missing values?
print(df.isnull().sum())

print("-------------------------------------------------------------------------------------------------------------------------------------------")

# 4- Unique Values Exploration
# List all unique values in the Department column
print(df['Department'].unique())

# Count how many unique departments exist using .nunique()
print(df['Department'].nunique())

# Display the frequency count of each department using .value_counts()
print(df['Department'].value_counts())

# Display the frequency count for Attrition (Yes/No)
print(df['Attrition'].value_counts())

# Display the frequency count for JobRole
print(df['JobRole'].value_counts())

# Display the frequency count for Gender
print(df['Gender'].value_counts())

# Which department has the most employees?
print(df['Department'].value_counts().idxmax())

# How many employees left the company (Attrition = Yes)?
print(df['Attrition'].value_counts().get('Yes', 0))
print(df[df['Attrition'] == 'Yes'].shape[0])

# What is the gender distribution?
print(df['Gender'].value_counts(normalize=True))

# Which job role is most common?
print(df['JobRole'].value_counts().idxmax())

-------------------------------------------------------------------------------------------------------------------------------------------
   Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development
5   32        No  Travel_Frequently       1005  Research & Development
6   59        No      Travel_Rarely       1324  Research & Development
7   30        No      Travel_Rarely       1358  Research & Development
8   38        No  Travel_Frequently        216  Research & Development
9   36        No      Travel_Rarely       1299  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7
5                 2          2  Life Sciences              1               8
6                 3          3        Medical              1              10
7                24          1  Life Sciences              1              11
8                23          3  Life Sciences              1              12
9                27          3        Medical              1              13

   EnvironmentSatisfaction  Gender  HourlyRate  JobInvolvement  JobLevel  \
0                        2  Female          94               3         2
1                        3    Male          61               2         2
2                        4    Male          92               2         1
3                        4  Female          56               3         1
4                        1    Male          40               3         1
5                        4    Male          79               3         1
6                        3  Female          81               4         1
7                        4    Male          67               3         1
8                        4    Male          44               2         3
9                        3    Male          94               3         2

                     JobRole  JobSatisfaction MaritalStatus  MonthlyIncome  \
0            Sales Executive                4        Single           5993
1         Research Scientist                2       Married           5130
2      Laboratory Technician                3        Single           2090
3         Research Scientist                3       Married           2909
4      Laboratory Technician                2       Married           3468
5      Laboratory Technician                4        Single           3068
6      Laboratory Technician                1       Married           2670
7      Laboratory Technician                3      Divorced           2693
8     Manufacturing Director                3        Single           9526
9  Healthcare Representative                3       Married           5237

   MonthlyRate  NumCompaniesWorked Over18 OverTime  PercentSalaryHike  \
0        19479                   8      Y      Yes                 11
1        24907                   1      Y       No                 23
2         2396                   6      Y      Yes                 15
3        23159                   1      Y      Yes                 11
4        16632                   9      Y       No                 12
5        11864                   0      Y       No                 13
6         9964                   4      Y      Yes                 20
7        13335                   1      Y       No                 22
8         8787                   0      Y       No                 21
9        16577                   6      Y       No                 13

   PerformanceRating  RelationshipSatisfaction  StandardHours  \
0                  3                         1             80
1                  4                         4             80
2                  3                         2             80
3                  3                         3             80
4                  3                         4             80
5                  3                         3             80
6                  4                         1             80
7                  4                         2             80
8                  4                         2             80
9                  3                         2             80

   StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0                 0                  8                      0
1                 1                 10                      3
2                 0                  7                      3
3                 0                  8                      3
4                 1                  6                      3
5                 0                  8                      2
6                 3                 12                      3
7                 1                  1                      2
8                 0                 10                      2
9                 2                 17                      3

   WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  \
0                1               6                   4
1                3              10                   7
2                3               0                   0
3                3               8                   7
4                3               2                   2
5                2               7                   7
6                2               1                   0
7                3               1                   0
8                3               9                   7
9                2               7                   7

   YearsSinceLastPromotion  YearsWithCurrManager
0                        0                     5
1                        1                     7
2                        0                     0
3                        3                     0
4                        2                     2
5                        3                     6
6                        0                     0
7                        0                     0
8                        1                     8
9                        7                     7
      Age Attrition     BusinessTravel  DailyRate              Department  \
1465   36        No  Travel_Frequently        884  Research & Development
1466   39        No      Travel_Rarely        613  Research & Development
1467   27        No      Travel_Rarely        155  Research & Development
1468   49        No  Travel_Frequently       1023                   Sales
1469   34        No      Travel_Rarely        628  Research & Development

      DistanceFromHome  Education EducationField  EmployeeCount  \
1465                23          2        Medical              1
1466                 6          1        Medical              1
1467                 4          3  Life Sciences              1
1468                 2          3        Medical              1
1469                 8          3        Medical              1

      EmployeeNumber  EnvironmentSatisfaction Gender  HourlyRate  \
1465            2061                        3   Male          41
1466            2062                        4   Male          42
1467            2064                        2   Male          87
1468            2065                        4   Male          63
1469            2068                        2   Male          82

      JobInvolvement  JobLevel                    JobRole  JobSatisfaction  \
1465               4         2      Laboratory Technician                4
1466               2         3  Healthcare Representative                1
1467               4         2     Manufacturing Director                2
1468               2         2            Sales Executive                2
1469               4         2      Laboratory Technician                3

     MaritalStatus  MonthlyIncome  MonthlyRate  NumCompaniesWorked Over18  \
1465       Married           2571        12290                   4      Y
1466       Married           9991        21457                   4      Y
1467       Married           6142         5174                   1      Y
1468       Married           5390        13243                   2      Y
1469       Married           4404        10228                   2      Y

     OverTime  PercentSalaryHike  PerformanceRating  RelationshipSatisfaction  \
1465       No                 17                  3                         3
1466       No                 15                  3                         1
1467      Yes                 20                  4                         2
1468       No                 14                  3                         4
1469       No                 12                  3                         1

      StandardHours  StockOptionLevel  TotalWorkingYears  \
1465             80                 1                 17
1466             80                 1                  9
1467             80                 1                  6
1468             80                 0                 17
1469             80                 0                  6

      TrainingTimesLastYear  WorkLifeBalance  YearsAtCompany  \
1465                      3                3               5
1466                      5                3               7
1467                      0                3               6
1468                      3                2               9
1469                      3                4               4

      YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
1465                   2                        0                     3
1466                   7                        1                     7
1467                   2                        0                     3
1468                   6                        0                     8
1469                   3                        1                     2
-------------------------------------------------------------------------------------------------------------------------------------------
(1470, 35)
['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department', 'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager']
Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB
None
               Age    DailyRate  DistanceFromHome    Education  EmployeeCount  \
count  1470.000000  1470.000000       1470.000000  1470.000000         1470.0
mean     36.923810   802.485714          9.192517     2.912925            1.0
std       9.135373   403.509100          8.106864     1.024165            0.0
min      18.000000   102.000000          1.000000     1.000000            1.0
25%      30.000000   465.000000          2.000000     2.000000            1.0
50%      36.000000   802.000000          7.000000     3.000000            1.0
75%      43.000000  1157.000000         14.000000     4.000000            1.0
max      60.000000  1499.000000         29.000000     5.000000            1.0

       EmployeeNumber  EnvironmentSatisfaction   HourlyRate  JobInvolvement  \
count     1470.000000              1470.000000  1470.000000     1470.000000
mean      1024.865306                 2.721769    65.891156        2.729932
std        602.024335                 1.093082    20.329428        0.711561
min          1.000000                 1.000000    30.000000        1.000000
25%        491.250000                 2.000000    48.000000        2.000000
50%       1020.500000                 3.000000    66.000000        3.000000
75%       1555.750000                 4.000000    83.750000        3.000000
max       2068.000000                 4.000000   100.000000        4.000000

          JobLevel  JobSatisfaction  MonthlyIncome   MonthlyRate  \
count  1470.000000      1470.000000    1470.000000   1470.000000
mean      2.063946         2.728571    6502.931293  14313.103401
std       1.106940         1.102846    4707.956783   7117.786044
min       1.000000         1.000000    1009.000000   2094.000000
25%       1.000000         2.000000    2911.000000   8047.000000
50%       2.000000         3.000000    4919.000000  14235.500000
75%       3.000000         4.000000    8379.000000  20461.500000
max       5.000000         4.000000   19999.000000  26999.000000

       NumCompaniesWorked  PercentSalaryHike  PerformanceRating  \
count         1470.000000        1470.000000        1470.000000
mean             2.693197          15.209524           3.153741
std              2.498009           3.659938           0.360824
min              0.000000          11.000000           3.000000
25%              1.000000          12.000000           3.000000
50%              2.000000          14.000000           3.000000
75%              4.000000          18.000000           3.000000
max              9.000000          25.000000           4.000000

       RelationshipSatisfaction  StandardHours  StockOptionLevel  \
count               1470.000000         1470.0       1470.000000
mean                   2.712245           80.0          0.793878
std                    1.081209            0.0          0.852077
min                    1.000000           80.0          0.000000
25%                    2.000000           80.0          0.000000
50%                    3.000000           80.0          1.000000
75%                    4.000000           80.0          1.000000
max                    4.000000           80.0          3.000000

       TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  \
count        1470.000000            1470.000000      1470.000000
mean           11.279592               2.799320         2.761224
std             7.780782               1.289271         0.706476
min             0.000000               0.000000         1.000000
25%             6.000000               2.000000         2.000000
50%            10.000000               3.000000         3.000000
75%            15.000000               3.000000         3.000000
max            40.000000               6.000000         4.000000

       YearsAtCompany  YearsInCurrentRole  YearsSinceLastPromotion  \
count     1470.000000         1470.000000              1470.000000
mean         7.008163            4.229252                 2.187755
std          6.126525            3.623137                 3.222430
min          0.000000            0.000000                 0.000000
25%          3.000000            2.000000                 0.000000
50%          5.000000            3.000000                 1.000000
75%          9.000000            7.000000                 3.000000
max         40.000000           18.000000                15.000000

       YearsWithCurrManager
count           1470.000000
mean               4.123129
std                3.568136
min                0.000000
25%                2.000000
50%                3.000000
75%                7.000000
max               17.000000
       Attrition BusinessTravel              Department EducationField Gender  \
count       1470           1470                    1470           1470   1470
unique         2              3                       3              6      2
top           No  Travel_Rarely  Research & Development  Life Sciences   Male
freq        1233           1043                     961            606    882

                JobRole MaritalStatus Over18 OverTime
count              1470          1470   1470     1470
unique                9             3      1        2
top     Sales Executive       Married      Y       No
freq                326           673   1470     1054
1470
35
26
9
Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0

In [36]:
# Part 2 - Descriptive Statistics
# 1- Central Tendency - Age Analysis
# Calculate the mean and median age. Find the mode of age
mean_age = df['Age'].mean()
median_age = df['Age'].median()
mode_age = df['Age'].mode()[0]

# Display all three values together
print(df['Age'].agg(['mean', 'median', lambda x: x.mode()[0]]).rename(index={'<lambda>': 'mode'}))

# What is the average age of employees?
print(mean_age)

# Is the mean higher or lower than the median age?
if mean_age > median_age:
    print("Mean age is higher than median age.")
elif mean_age < median_age:
    print("Mean age is lower than median age.")
else:
    print("Mean age is equal to median age.")

print("-------------------------------------------------------------------------------------------------------------------------------------------")

# 2- Central Tendency
# Calculate mean, median for MonthlyIncome, YearsAtCompany and TotalWorkingYears
print(df[['MonthlyIncome', 'YearsAtCompany', 'TotalWorkingYears']].agg(['mean', 'median']))

# Create a summary table showing these statistics
summary_table = df[['MonthlyIncome', 'YearsAtCompany', 'TotalWorkingYears']].agg(['mean', 'median'])
print(summary_table)

# What is the average monthly income?
print("Average Monthly Income:", summary_table.loc['mean', 'MonthlyIncome'])

# What is the median years at company?
print("Median Years at Company:", summary_table.loc['median', 'YearsAtCompany'])

# Compare mean vs median for income - what does the difference tell you?
mean_income = summary_table.loc['mean', 'MonthlyIncome']
median_income = summary_table.loc['median', 'MonthlyIncome']
if mean_income > median_income:
    print("Mean income is higher than median income.")
elif mean_income < median_income:
    print("Mean income is lower than median income.")
else:
    print("Mean income is equal to median income.")

print("-------------------------------------------------------------------------------------------------------------------------------------------")

# 3- Dispersion Measures - Measure how spread out monthly income values are.
# Calculate the minimum and maximum monthly income
min_income = df['MonthlyIncome'].min()
max_income = df['MonthlyIncome'].max()
print("Minimum Monthly Income:", min_income)
print("Maximum Monthly Income:", max_income)

# Calculate the range (max - min)
print("Income Range:", max_income - min_income)

# Calculate the standard deviation
std_income = df['MonthlyIncome'].std()
print("Standard Deviation of Monthly Income:", std_income)

# Calculate the variance
var_income = df['MonthlyIncome'].var()
print("Variance of Monthly Income:", var_income)

# Calculate Q1 (25th percentile), Q2 (50th percentile/median), Q3 (75th percentile)
Q1 = df['MonthlyIncome'].quantile(0.25)
Q2 = df['MonthlyIncome'].quantile(0.50)
Q3 = df['MonthlyIncome'].quantile(0.75)
print("Q1 (25th percentile):", Q1)
print("Q2 (50th percentile/median):", Q2)
print("Q3 (75th percentile):", Q3)

# Calculate the Interquartile Range (IQR = Q3 - Q1)
IQR = Q3 - Q1
print("Interquartile Range (IQR):", IQR)

# What is the income range?
# The income range is the difference between the maximum and minimum monthly income.

# Is there high variability in incomes? (look at std deviation relative to mean)
# If the standard deviation is large relative to the mean, it indicates high variability in incomes.
if std_income / mean_income > 0.5:
    print("There is high variability in incomes.")
else:
    print("There is low variability in incomes.")

# What income value separates the bottom 25% from the rest?
# The income value that separates the bottom 25% from the rest is Q1 (25th percentile).

# What does the IQR tell you about the middle 50% of incomes?
# The IQR indicates the range within which the middle 50% of incomes fall.

print("-------------------------------------------------------------------------------------------------------------------------------------------")

# 4- Comparing Groups - Compare statistics across different departments.
# Group data by Department
grouped_dept = df.groupby('Department')

# Calculate the mean MonthlyIncome for each department
mean_income_dept = grouped_dept['MonthlyIncome'].mean()

# Calculate the mean Age for each department
mean_age_dept = grouped_dept['Age'].mean()

# Calculate the mean YearsAtCompany for each department
mean_years_dept = grouped_dept['YearsAtCompany'].mean()

# Count the number of employees in each department
count_dept = grouped_dept.size()

# Display these results in a clear DataFrame
dept_summary = pd.DataFrame({
    'Mean Monthly Income': mean_income_dept,
    'Mean Age': mean_age_dept,
    'Mean Years at Company': mean_years_dept,
    'Employee Count': count_dept
})
# Which department has the highest average monthly income?
highest_income_dept = dept_summary['Mean Monthly Income'].idxmax()

# Which department has the youngest employees on average?
youngest_age_dept = dept_summary['Mean Age'].idxmin()

# Which department has employees who stay longest at the company?
longest_stay_dept = dept_summary['Mean Years at Company'].idxmax()

print("-------------------------------------------------------------------------------------------------------------------------------------------")

# 5- Comparing Groups - Compare employees who left vs stayed.
# Group data by Attrition (Yes/No)
grouped_attrition = df.groupby('Attrition')

# Calculate mean MonthlyIncome for each group
mean_income_attrition = grouped_attrition['MonthlyIncome'].mean()

# Calculate mean Age for each group
mean_age_attrition = grouped_attrition['Age'].mean()

# Calculate mean YearsAtCompany for each group
mean_years_attrition = grouped_attrition['YearsAtCompany'].mean()

# Calculate mean JobSatisfaction for each group
mean_job_satisfaction_attrition = grouped_attrition['JobSatisfaction'].mean()

# Calculate mean WorkLifeBalance for each group
mean_work_life_balance_attrition = grouped_attrition['WorkLifeBalance'].mean()

# Do employees who left have lower income on average?
if mean_income_attrition['Yes'] < mean_income_attrition['No']:
    print("Employees who left have lower income on average.")
else:
    print("Employees who left do not have lower income on average.")

# Are younger or older employees more likely to leave?
if mean_age_attrition['Yes'] < mean_age_attrition['No']:
    print("Younger employees are more likely to leave.")
else:
    print("Older employees are more likely to leave.")
    
# Is there a difference in job satisfaction between those who left and stayed?
# Employees who left have lower job satisfaction on average.
if mean_job_satisfaction_attrition['Yes'] < mean_job_satisfaction_attrition['No']:
    print("Employees who left have lower job satisfaction on average.")
else:
    print("Employees who left do not have lower job satisfaction on average.")

# What patterns do you notice?
# Employees who left tend to have lower income, are younger, and have lower job satisfaction on average.

mean      36.92381
median    36.00000
mode      35.00000
Name: Age, dtype: float64
36.923809523809524
Mean age is higher than median age.
-------------------------------------------------------------------------------------------------------------------------------------------
        MonthlyIncome  YearsAtCompany  TotalWorkingYears
mean      6502.931293        7.008163          11.279592
median    4919.000000        5.000000          10.000000
        MonthlyIncome  YearsAtCompany  TotalWorkingYears
mean      6502.931293        7.008163          11.279592
median    4919.000000        5.000000          10.000000
Average Monthly Income: 6502.931292517007
Median Years at Company: 5.0
Mean income is higher than median income.
-------------------------------------------------------------------------------------------------------------------------------------------
Minimum Monthly Income: 1009
Maximum Monthly Income: 19999
Income Range: 18990
Standard Deviation of Monthly Income: 4707.956783097995
Variance of Monthly Income: 22164857.07151842
Q1 (25th percentile): 2911.0
Q2 (50th percentile/median): 4919.0
Q3 (75th percentile): 8379.0
Interquartile Range (IQR): 5468.0
There is high variability in incomes.
-------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------
Employees who left have lower income on average.
Younger employees are more likely to leave.
Employees who left have lower job satisfaction on average.